
.pokemonContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #808080;
    border-radius: 1rem;
}

.pokemonCard {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    border-radius: 1rem;
    list-style: none;
}

.pokemonCard .icons {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
}

.pokemonCard .icons .icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.icons a {
    text-decoration: none;
}

.icons #back-buttom:active {
    color: #0000cd;
}

.material-symbols-outlined {
    font-size: .875rem;
    display: inline;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

.pokemonCard .icons .favorited {
    color: #ff0000;
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

.pokemonCard .name {
    margin: .5rem 0 0 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 1.562rem;
    color: #fff;
}

.pokemonCard .number {
    display: flex;
    flex-direction:row-reverse;
    text-shadow: 1px 1px #f5eeee;
    font-size: 1rem;
    line-height: .6rem;
    color: #000;
    opacity: .4;
    text-align: left;
}

.pokemonCard .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemonCard .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemonCard .detail .types .type {
    margin: .25rem .375rem .25rem 0;
    padding: .187rem .875rem;
    float: left;
    border-radius: .5rem;
    filter: brightness(1.1);
    font-size: .875rem;
    text-align: center;
    color: #fff;
}

.pokemonCard .pokemonImageContainer {
    text-align: center;
    position: relative;
    z-index: 1;
}

.pokemonCard .pokemonImageContainer img {
    width: 60%;
}

.pokemonDatasheet {
    width: 100%;
    padding: 0 2rem;
    background-color: #fff;
    position: relative;
    bottom: 3rem;
    border-radius: 2rem;
    list-style: none;
    font-size: .875rem; 
}

.pokemonDatasheet .attributes-topics-section { 
    background-color: #fff;
    padding-top: 3rem;
}

.pokemonDatasheet .topics-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.pokemonDatasheet .topics-container .topics {
    width: 100%;
    text-align: center;
}

.pokemonDatasheet .topics-container .topics div {
    width: 90%;
    height: 3.5rem;
    display: inline-block;
    margin: 0 0.2rem;
    padding: .8rem 0;
    cursor: pointer;
}

.pokemonDatasheet .topics-container .topics div h2 {
    margin: 0;
}

.actived {
    border-bottom: 4px solid blue;
}

.pokemonDatasheet .topics-container .actived h2 {
    font-size: .937rem;
}

.disabled {
    color: #404152;
    border-bottom: 3px solid #a4a6b8;
}

.pokemonDatasheet .topics-container .disabled h2 {
    font-size: .875rem;
}

.about-attributes, .base-stats-attributes,
.evolution-attributes, .moves-attributes {
    padding: 1rem 0;
    background-color: #fff;
    font-size: .875rem;
}

.pokemonAttribute {
    padding: 0; 
    border-bottom: 1px solid #a4a6b8;
    line-height: 1.5rem;
    list-style: none; 
}

.moves-attributes .pokemonAttribute-list {
    line-height: 1.5rem;
}

.moves-attributes .pokemonAttribute-list li::first-letter{
    text-transform: capitalize;
}

.text-two-columns, .text-one-and-two-columns {
    text-indent: .8rem;
    text-align: justify;
}

.text-two-columns{
    display: grid; 
    grid-template-columns: 40% 1fr;
}

.text-one-and-two-columns{
    display: grid; 
    grid-template-columns: 40% 1fr 1fr;
}

.evolution-attributes .image-three-columns, .evolution-attributes .text-three-columns {
    display: grid; 
    grid-template-columns: 1fr 20% 1fr;
    text-align: center;
    border: none;
}

.about-attributes h3, .base-stats-attributes h3,
.evolution-attributes h3, .moves-attributes h3 {
    margin: 0 0 1rem 0;
    line-height: 1rem;
    font-size: .875rem;
}

.base-stats-attributes .pokemonAttribute .barContainer {
    text-indent: 0;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
}

.base-stats-attributes .barContainer .barNumber{
    text-align:center;
    font-size: .75rem;
}

.base-stats-attributes .barContainer .bar {
    background-color: #008011;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    text-align: center;
}

.evolution-image-container div span {
    margin: 0;
    font-size: .75rem;
}

.evolution-attributes .evolution-title {
    line-height: 1.5rem;
}

.evolution-image-container div .capitalize {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.evolution-image-container {
    margin: 0 0 1rem 0;
}

.evolution-image-container div {
    height: 100%;
    padding: 1rem 0 0 0;
}

.evolution-image-container img {
    width: 70%;
    height: 70%;
    margin: auto;   
}

.no-image {
    display: block;
    text-align: center;
    font-size: .875rem;
}

.no-image::first-letter{
    text-transform: uppercase;
}


.levelup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
}

.levelup span {
    line-height: 1rem;
    padding: .4rem;
    background-color: #ffd700;
    border-radius: 1rem;
    font-weight: bolder;
}

@media screen and (min-width: 640px) {
      
    .content {
        padding: 0;
    }

    .pokemonContainer {
        min-height: 360px;
        height: 100vh;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    .pokemonCard {
        grid-template-rows: 4.125rem 5.125rem 1fr;
        position: fixed;
        width: 40%;
        height: 100%;
        display: grid;
        margin: 0;
        padding: 0 1rem;
        border-right: 1px solid #8c91a1;
        border-radius: 0;
        list-style: none;
    }
    
    .pokemonCard .icons .icon {
        font-size: 1.625rem;
    }
    
    .pokemonCard .detail .types .type {
        font-size: .75rem;
    }
    
    .pokemonCard .pokemonImageContainer {
        height: 90%;
        display: flex;
        justify-content: center;  
        background-color: #f5eeee41;
        border-radius: 5rem;
        padding: 2rem;
    }
    
    .pokemonCard .pokemonImageContainer img {
        width:100%; 
        height: 100%;
    }
    
    .pokemonDatasheet {
        width: 60%;
        min-height: 100%;
        float: right;
        margin: 0;
        padding: 0; 
        border-radius: 0;
    }
    
    .pokemonDatasheet .attributes-topics-section { 
        position: fixed;
        width: 60%;        
        border-bottom: 1px solid #b6bff1;
    }
       
    .pokemonDatasheet .topics-container .topics {
        padding-top: 1.25rem;
    }
    
    .pokemonDatasheet .topics-container .topics div {
        height: 2.875rem;
    }
    
    .pokemonDatasheet .topics-container .topics div h2 {
        font-size: 1rem;
    }

    .about-attributes, .base-stats-attributes {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    
    .about-attributes {
        padding: 8.125rem 0.5rem 0 0.5rem;
    }

    .base-stats-attributes {       
        padding: 10.125rem 0.5rem 0 0.5rem;
    }

    .about-attributes h3 {
        margin: 0;
        line-height: 3rem;
    }

    .evolution-attributes {
        width: 100%;
        border-radius: 0 0 1rem 0;
        height: 100vh;
        min-height: 360px;
    }
    
    .evolution-attributes h3, .moves-attributes h3 {
        margin: 0;
        padding: 7.125rem .5rem .2rem .5rem;
    }

    .evolution-attributes .image-three-columns,
    .evolution-attributes .text-three-columns {
        display: grid; 
        grid-template-columns: 1fr 15% 1fr;
        text-align: center;
        margin: 0;
        margin: 0 .5rem;
    }
    
    .evolution-attributes .image-three-columns { 
        list-style: none;
        padding: 0 .5rem;
        min-height: 7rem;
        height: calc((100vh - 8.5rem)/2);
    }
    
    .evolution-attributes .text-three-columns {
        border-bottom: 1px solid #a4a6b8;
        list-style: none;
        padding: 0;
    }
        
    .evolution-image-container div {
        margin: 0 auto;
        padding-top: .25rem;
    }
    
    .evolution-image-container img {
       max-width: 8rem;
       min-height: 5.25rem;
       height: calc((100vh - 12rem)/2);
    }

    .evolution-image-container div .capitalize {
        padding-top: 0.2rem;
        border-radius: 1rem;
        font-size: .75rem;
        line-height: .3rem;
    }

    .moves-attributes {
        min-height: 360px;
        width: 100%;
        padding: 1 rem .5rem;       
    }

    .about-attributes .pokemonAttribute,
    .base-stats-attributes .pokemonAttribute { 
        padding: 0; 
        border-bottom: 1px solid #a4a6b8;
        line-height: 1.5rem;
        list-style: none; 
    }
    
    .moves-attributes .pokemonAttribute-list {
        padding-top: .5rem;
        line-height: 1.5rem;
    }
    
    .moves-attributes .pokemonAttribute-list li::first-letter {
        text-transform: capitalize;
    }
   
    .evolution-attributes .no-image li {
        display: flex;
        align-items: center;
        min-height: 14rem;
        height: calc((100vh - 8.5rem));
        border: 1px solid #a4a6b8;
        border-radius: .5rem;
    }

    .no-image {       
        padding: 0 .5rem;
        text-indent: .8rem;
    }
    
    .no-image li span::first-letter{
        text-transform: uppercase;
    }
}

@media screen and (min-width: 992px) {

    .content {
        width: 100%;
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    .pokemonCard .name {
        font-size: 2.5rem;
    }

    .pokemonCard .detail .types .type {
        font-size: .875rem;
    }
    
    .pokemonCard .pokemonImageContainer {
        height: 80%;
    }

    .about-attributes, .base-stats-attributes, .evolution-attributes, .moves-attributes,
    .about-attributes h3, .evolution-attributes h3, .moves-attributes h3 {
        font-size: 1rem;
    }
    
    .evolution-image-container img {
       max-width: 12rem;
    }

    .evolution-image-container div .capitalize {
        font-size: .875rem;
    }
}